<%= form_with(model: [department, employee], class: "flex flex-column gap-4", data: { turbo: "false" }) do |form| %>
  <div class="input">
    <%= form.label :name, class:"content-xs overline"%>
    <div class="input__container">
      <%= form.text_field :name, class: "input__content", placeholder: "John Doe", autofocus: true %>
    </div>
    <%=errors_for(employee, :name)%>
  </div>
  
  <div class="input">
    <%= form.label :nationality, class:"content-xs overline"%>
    <div class="input__container">
      <%= form.text_field :nationality, class: "input__content", placeholder: "Peru" %>
    </div>
    <%=errors_for(employee, :nationality)%>
  </div>

  <div class="input">
    <%= form.label :email, class:"content-xs overline"%>
    <div class="input__container">
      <%= form.email_field :email, class: "input__content", placeholder: "example@mail.com" %>
    </div>
    <%=errors_for(employee, :email)%>
  </div>

  <div class="input">
    <%= form.label :position, class:"content-xs overline"%>
    <div class="input__container">
      <%= form.text_field :position, class: "input__content", placeholder: "eternal apprentice" %>
    </div>
    <%=errors_for(employee, :position)%>
  </div>

  <div class="input">
    <%= form.label :birth_date, class:"content-xs overline"%>
    <div class="input__container">
      <%= form.date_field :birth_date, class: "input__content" %>
    </div>
    <%=errors_for(employee, :birth_date)%>
  </div>

  <div class="select">
    <%= form.label :department_id, class:"content-xs overline"%>
    <%= form.collection_select :department_id, departments, :id, :name, { prompt: true, selected: department.id }, { class: "select__input" } %>
    <%=errors_for(employee, :department_id)%>
  </div>

  <%# <select name="department_id" id="department_id">
    <option value="">Select one</option>
    <option value="1">Engineering</option>
    <option value="2">marketing</option>
    <option value="3">Operations</option>
  </select> %>

  <div class="select">
    <%= form.label :manager_id, class:"content-xs overline"%>
    <%= form.collection_select :manager_id, employees, :id, :name, { include_blank: "No Manager" }, { class: "select__input" } %>
    <%=errors_for(employee, :manager_id)%>
  </div>

  <div class="input">
    <%= form.label :avatar, class:"content-xs overline"%>
    <%= form.file_field :avatar, class: "input__content"%>

    <%=errors_for(employee, :avatar)%>
  </div>

  <div class="input">
    <%= form.label :password, class:"content-xs overline"%>
    <div class="input__container">
      <%= form.password_field :password, class: "input__content", placeholder: "******" %>
    </div>
    <%=errors_for(employee, :password)%>
  </div>

  <div class="input">
    <%= form.label :password_confirmation, class:"content-xs overline"%>
    <div class="input__container">
      <%= form.password_field :password_confirmation, class: "input__content", placeholder: "******" %>
    </div>
    <%=errors_for(employee, :password_confirmation)%>
  </div>

  <div>
    <%= form.submit class: "button button--secondary full-width" %>
  </div>
<% end %>
